@keyframes flutter {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(80deg);
  }
}

@keyframes slow {
  0% {
    transform: rotateX(0);
  }
  10% {
    transform: rotateX(80deg);
  }
  20% {
    transform: rotateX(0);
  }
}

.shape {
  position: absolute;
  background: none;
  border: none;
}

.shape :global(.wing) {
  transform-origin: center center;
  animation: flutter 200ms alternate infinite;
}

.shape :global(.slow) {
  opacity: 0.5;
  transform-origin: center center;
  animation: slow 2000ms infinite;
}
